<ion-header>
	<ion-navbar>
		<ion-title>
			Simulador de Arquitetura - Acumulador
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	
	<div class="registrators cont">
		<h2> Registradores </h2>

		<ion-grid>
			<ion-row>
				<ion-col col-1 *ngFor="let r of registradores">
					<ion-item>
						<ion-label floating>R{{r.getIndice()}}</ion-label>
						<ion-input type="number" [(ngModel)]="r.valor" name="valor"></ion-input>
					</ion-item>
				</ion-col>

				<ion-col col-1>
					<ion-item>
						<ion-label floating>ACC</ion-label>
						<ion-input type="number" [(ngModel)]="acumulador.valor" name="valor"></ion-input>
					</ion-item>
				</ion-col>

				<ion-col col-1>
					<ion-item>
						<ion-label floating>PC</ion-label>
						<ion-input type="number" [(ngModel)]="pc.valor" name="valor"></ion-input>
					</ion-item>
				</ion-col>

				<ion-col col-1>
					<ion-item>
						<ion-label floating>IR</ion-label>
						<ion-input type="number" [(ngModel)]="ir.valor" name="valor"></ion-input>
					</ion-item>
				</ion-col>

			</ion-row>
		</ion-grid>
	</div>
	<br><br>
	<div class="memories cont">
		<h2>Memória</h2>
		<ion-grid>
			<ion-row>
				<ion-col col-1 *ngFor="let m of memoria">
					<ion-item>
						<ion-label floating>M{{m.getIndice()}}</ion-label>
						<ion-input type="text" [(ngModel)]="m.valor" name="valor"></ion-input>
					</ion-item>
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>
	<br>
	<div class="program">
		<ion-grid text-left>
			<ion-row>
				<ion-col col-6>
					<ion-item>
						<ion-label floating>Instruções</ion-label>
						<ion-textarea rows="10" [(ngModel)]="instrucao" name="instrucao" (keyup)="instructToUpper()"></ion-textarea>
					</ion-item>
				</ion-col>
				<ion-col col-6>
					<ion-label floating>&nbsp;</ion-label>

					<div class="player">
						<ion-grid>
							<ion-row>
								<ion-col width="25">
									<button clear ion-button icon-only (click)="player.prev()">
										<ion-icon name="skip-backward"></ion-icon>
									</button>
								</ion-col>
								<ion-col width="25">
									<button clear ion-button icon-only (click)="player.play()" *ngIf="!executando">
										<ion-icon name="play"></ion-icon>
									</button>
									<button clear ion-button icon-only (click)="player.pause()" *ngIf="executando">
										<ion-icon name="pause"></ion-icon>
									</button>
								</ion-col>
								<ion-col width="25">
									<button clear ion-button icon-only (click)="player.next()">
										<ion-icon name="skip-forward"></ion-icon>
									</button>
								</ion-col>
								<ion-col width="25">
									<button clear ion-button icon-only (click)="player.stop()"></button>
								</ion-col>
							</ion-row>
						</ion-grid>

						<ion-badge *ngIf="linha_atual">
							Comando atual: {{linha_atual}}
						</ion-badge>
					</div>

					<p class="instructs">
					<strong>Instruções suportadas: </strong> (passe o mouse)<br>
						<ion-badge style="margin: 2px" *ngFor="let i of objectKeys(comandos_permitidos)">
						{{i}} <span class="tooltip">{{legendas[i]}}</span>
						</ion-badge>
					</p>

				</ion-col>
			</ion-row>
		</ion-grid>
	</div>
</ion-content>
